<!doctype html>
<html class="no-js" lang="">


<!-- Mirrored from www.radiustheme.com/demo/html/psdboss/akkhor/akkhor//addnew by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 09 Jan 2022 06:34:23 GMT -->
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Add Test Data</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="img/favicon.png">
    <!-- Normalize CSS -->
    <link rel="stylesheet" href="css/normalize.css">
    <!-- Main CSS -->
    <link rel="stylesheet" href="css/main.css">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <!-- Fontawesome CSS -->
    <link rel="stylesheet" href="css/all.min.css">
    <!-- Flaticon CSS -->
    <link rel="stylesheet" href="fonts/flaticon.css">
    <!-- Animate CSS -->
    <link rel="stylesheet" href="css/animate.min.css">
    <!-- Select 2 CSS -->
    <link rel="stylesheet" href="css/select2.min.css">
    <!-- Date Picker CSS -->
    <link rel="stylesheet" href="css/datepicker.min.css">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="css/style.css">
    <!-- Modernize js -->
    <script src="js/modernizr-3.6.0.min.js"></script>
</head>

<body>
    <!-- Preloader Start Here -->
    <div id="preloader"></div>
    <!-- Preloader End Here -->
    
        <!-- Header Menu Area End Here -->
        <!-- Page Area Start Here -->
        <div class="dashboard-page-one">
            <!-- Sidebar Area Start Here -->
           <div class="sidebar-main sidebar-menu-one sidebar-expand-md sidebar-color">
               <div class="mobile-sidebar-header d-md-none">
                    <div class="header-logo">
                        <a href="index.html"><img src="img/logo1.png" alt="logo"></a>
                    </div>
               </div>
                <div class="sidebar-menu-content">
                    <ul class="nav nav-sidebar-menu sidebar-toggle-view">
                        <li class="nav-item sidebar-nav-item">
                            <a href="/dash" class="nav-link"><i class="flaticon-multiple-users-silhouette"></i><span>Project Dashboard</span></a>
                            
                        </li>
                        <li class="nav-item sidebar-nav-item">
                            <a href="#" class="nav-link"><i class="flaticon-classmates"></i><span>Project Options</span></a>
                            <ul class="nav sub-group-menu">
                                <li class="nav-item">
                                    <a href="/addnew" class="nav-link"><i class="fas fa-angle-right"></i>Add a new Test Data</a>
                                </li>
                                <li class="nav-item">
                                    <a href="/searchdata" class="nav-link"><i class="fas fa-angle-right"></i>Search for a test data</a>
                                </li>
                                <li class="nav-item">
                                    <a href="/addrev" class="nav-link"><i class="fas fa-angle-right"></i>Add Review</a>
                                </li>
                                <li class="nav-item">
                                    <a href="/review" class="nav-link"><i class="fas fa-angle-right"></i>Review Checkpoints</a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item sidebar-nav-item">
                            <a href="/data" class="nav-link"><i class="flaticon-multiple-users-silhouette"></i><span>Project Dataset </span></a>
                            
                        </li>
                        
                       
                    </ul>
                </div>
            </div>
            <!-- Sidebar Area End Here -->
            <div class="dashboard-content-one">
                <!-- Breadcubs Area Start Here -->
                <div class="breadcrumbs-area">
                    <h1>Project Dataset</h1>
                    <ul>
                        <li>
                        
                        </li>
                     
                    </ul>
                </div>
                <!-- Breadcubs Area End Here -->
                <!-- Class Table Area Start Here -->
                <div class="card height-auto">
                    <div class="card-body">
                        <div class="heading-layout1">
                            <div class="item-title">
                                <h3>Added Data</h3>
                            </div>
                           
                        </div>
                        
                            <div class="table-responsive">
                                <table class="table display data-table text-nowrap">
                                    <thead>
                                        <tr>
                                        
                                            
                                            <th>Name</th>
                                            <th>Content</th>
                                            <th>Version</th>
                                            <th>Reviewer</th>
                                            <th>Data Label</th>
                                            <th>Version Label</th>
                                            <th>Accessid</th>
                                            <th>Link</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                
                                    <tbody>
                                    <% showdata.forEach(function(sites){%>
                                        <tr>
                                        
                                            
                                           <strong><td><%=sites.name%></td></strong> 
                                            <strong><td><%=sites.content%></td></strong>
                                            <strong><td><%=sites.version%></td></strong>
                                            <strong><td><%=sites.reviewer%></td></strong>
                                            <strong><td><%=sites.labeldata%></td></strong>
                                            <strong><td><%=sites.versionlabel%></td></strong>
                                            <strong><td><%=sites.acessid%></td></strong>
                                            <strong><td><%=sites.link%></td></strong>
                                            
                                        </tr>
                                    <%})%>
                                    </tbody>
                                </table>
                            </div>
                       
                    </div>
                </div>
                    

                                   
                <!-- Admit Form Area Start Here -->
                
                <!-- Admit Form Area End Here -->
                <footer class="footer-wrap-layout1">
                    <div class="copyright">© Copyrights <a href="#">Vignana Bharathi Institute of Technology </a> 2022. All rights reserved. Designed by <a
                            href="#"></a>Batch 4 CSE B</div>
                </footer>
            </div>
        </div>
        <!-- Page Area End Here -->
    </div>
    <!-- jquery-->
    <script src="js/jquery-3.3.1.min.js"></script>
    <!-- Plugins js -->
    <script src="js/plugins.js"></script>
    <!-- Popper js -->
    <script src="js/popper.min.js"></script>
    <!-- Bootstrap js -->
    <script src="js/bootstrap.min.js"></script>
    <!-- Select 2 Js -->
    <script src="js/select2.min.js"></script>
    <!-- Date Picker Js -->
    <script src="js/datepicker.min.js"></script>
    <!-- Scroll Up Js -->
    <script src="js/jquery.scrollUp.min.js"></script>
    <!-- Custom Js -->
    <script src="js/main.js"></script>

</body>


<!-- Mirrored from www.radiustheme.com/demo/html/psdboss/akkhor/akkhor//addnew by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 09 Jan 2022 06:34:24 GMT -->
</html>